@import '../../themes/adaptive';

.page {
  background: url('/assets/images/bg/1.png') no-repeat;
  background-position: top;
  background-size: cover;
  position: relative;
  max-width: 1920px;

  margin: 0 auto;

  .section {
    .container {
      position: relative;
      max-width: 1000px;
      margin-left: auto;
      margin-right: auto;
      width: 100%;
    }
  }

  .section1 {
    .container {
      .text {
        position: relative;
        left: 50%;
        transform: translateX(-115%);
        width: 30%;
        cursor: pointer;

        padding-top: 75px;

        @include mini-mobile() {
          padding-top: 25px;
        }

        @include mobile() {
          padding-top: 25px;
        }

        @include Tablets() {
          padding-top: 25px;
        }

        @include Laptops() {
          padding-top: 25px;
        }

        @include Desktop() {
          padding-top: 50px;
        }
      }
    }

    @include XL-Desktop() {
      .container {
        .text {
          max-width: 393px;
          width: 100%;
        }
      }
    }
  }

  .section2 {
    display: flex;
    align-items: center;
    flex-direction: column;

    position: relative;

    .container {
      text-align: center;

      position: absolute;
      top: 23%;
      z-index: 100;

      img {
        width: 70%;

        @include XL-Desktop() {
          width: 100%;
        }
      }

      @include mini-mobile() {
        top: 30%;
      }

      @include mobile() {
        top: 28%;
      }

      @include Tablets() {
        top: 28%;
      }

      @include Laptops() {
        top: 28%;
      }

      @include Desktop() {
        top: 28%;
      }
    }

    :global {
      .slick-slider {
        padding-top: 210px;

        @include mini-mobile() {
          padding-top: 40px;
        }

        @include mobile() {
          padding-top: 60px;
        }

        @include Tablets() {
          padding-top: 80px;
        }
      }
    }

    &.active {
      animation: appear 0.7s linear;
    }
  }

  .section3 {
    padding-bottom: 200px;

    .container {
      .buttonWrapper {
        display: flex;
        align-items: center;
        justify-content: center;

        img {
          height: auto;
          max-width: 327px;
          width: 100%;

          cursor: pointer;

          @include Desktop() {
            max-width: 270px;
          }

          @include Laptops() {
            max-width: 250px;
          }

          @include Tablets() {
            max-width: 180px;
          }

          @include mobile() {
            max-width: 120px;
          }

          @include mini-mobile() {
            max-width: 100px;
          }
        }
      }

      .bxhWrapper {
        background-image: url('/assets/images/bg/board.png');
        padding-top: calc(1082 / 1200 * 100%);
        width: 100%;
        background-size: cover;
        background-repeat: no-repeat;
        position: relative;

        .noidungduatopImageWrapper {
          height: 95%;
          position: absolute;
          top: 3.8%;
          left: 6%;

          .noidungduatop {
            width: 100%;
            height: 100%;
          }
        }

        .bxhImageWrapper {
          height: 95%;
          position: absolute;
          top: 3.5%;
          left: 6%;
          max-width: 942px;
          overflow: scroll;
          width: 93.5%;

          table {
            border-collapse: collapse;
            width: 100%;
            color: #fff;
            background: #172533;
          }

          th, td {
            text-align: center;
            padding: 8px;
            font-weight: 600;

            img {
              width: 50%;
            }
          }

          tr {
            height: 69px;
          }

          tr:nth-child(odd){background-color: #172533}
          tr:nth-child(even){background: #111F2D}

          tr {
            &:first-child {
              background: url("/assets/images/bg/layout.png");
              width: 100%;
              background-size: cover;
            }
          }

          tr {
            &:nth-child(2) {
              td {
                color: #FFE375;
              }
            }
          }

          tr {
            &:nth-child(3) {
              td {
                color: #78ABFF;
              }
            }
          }

          tr {
            &:nth-child(4) {
              td {
                color: #CF9190;
              }
            }
          }

          th {
            color: white;
          }

          &::-webkit-scrollbar {
            width: 4px;
            height: 4px;
          }

          /* Track */
          &::-webkit-scrollbar-track {
            box-shadow: inset 0 0 100px #020F1A;
            border-radius: 10px;
            margin-bottom: 180px;
          }

          /* Handle */
          &::-webkit-scrollbar-thumb {
            background: #CEB48B;
            border-radius: 10px;
          }
        }
      }

      @include Desktop() {
        max-width: 900px;
      }

      @include Laptops() {
        max-width: 700px;
      }

      @include Tablets() {
        max-width: 450px;

        tr {
          font-size: 13px;
        }
      }

      @include mobile() {
        max-width: 330px;

        tr {
          font-size: 10px;
        }
      }

      @include mini-mobile() {
        max-width: 250px;

        tr {
          font-size: 10px;
        }
      }
    }

    &.active {
      animation: appear 0.7s linear;
    }

    @include Laptops() {
      padding-bottom: 150px;
    }

    @include Tablets() {
      padding-bottom: 100px;
    }

    @include mobile() {
      padding-bottom: 70px;
    }

    @include mini-mobile() {
      padding-bottom: 50px;
    }
  }
}

.leftNeo {
  position: fixed;
  top: 216px;
  left: 60px;
  height: 500px;
  background: url('/assets/images/left-neo/line.png') no-repeat top;
  z-index: 1211;
  animation: leftNeo 0.7s linear;

  ul {
    margin: 45px 0 0;
    list-style: none;
    padding: 0 !important;
    display: flex;
    flex-direction: column;
    align-items: center;

    li {
      cursor: pointer;
      transition: 0.3s linear all;

      img {
        display: block;
        margin-bottom: 10px;
      }

      &:hover {
        transform: scale(1.2);
      }

      &:nth-child(3), &:nth-child(4) {
        &:hover {
          filter: brightness(2);
        }
      }
    }
  }

  @include XXL-Desktop() {
    margin-left: calc(50% - 960px);
  }
}

.rightNeo {
  position: fixed;
  top: 243px;
  right: 60px;
  z-index: 1030;

  max-width: 175px;
  width: 100%;
  height: 500px;
  background: url('/assets/images/download/lenh-bai.png') no-repeat top;
  animation: appear 0.7s linear;

  ul {
    list-style: none;
    padding: 0 !important;
    display: flex;
    flex-direction: column;
    align-items: center;

    margin-top: -108px;

    li {
      cursor: pointer;

      div {
        border-radius: 60%;
        transition: 0.3s linear all;
        &:hover {
          background: #E3D0A2;
          box-shadow: 0 0 100px #E3D0A2;
        }
      }

      img {
        display: block;
        margin-bottom: 10px;
        transition: 0.3s linear all;
      }
    }
  }

  @include XXL-Desktop() {
    margin-right: calc(50% - 960px);
  }

  &.active {
    animation: appear 0.7s linear;
  }
}

.nextButton, .preButton {
  position: absolute!important;
  top: 44% !important;
  width: 60px;
  z-index: 98;
  cursor: pointer;
}

.nextButton {
  right: 10px!important;
}

.preButton {
  left: 10px!important;
  transform: scaleX(-1);
}

@media only screen and (max-width: 480px) {
  .nextButton, .preButton {
    width: 30px;
  }
}

@media only screen and (max-width: 1200px) {
  .rightNeo, .leftNeo {
    display: none;
  }
}

@media only screen and (max-width: 768px) {
  .page {
    .section3 {
      padding-bottom: 100px;
    }
  }
}

@keyframes appear {
  0% {
    opacity: 0;
    transform: translateY(70px);
  }
  100% {
    opacity: 1;
    transform: translateY(0px);
  }
}


@keyframes leftNeo {
  0% {
    opacity: 0;
    transform: translateY(-70px);
  }
  100% {
    opacity: 1;
    transform: translateY(0px);
  }
}
