.cancel {
  color: #000;
  position: fixed;
  top: 0;
  right: 0;

  font-size: 20px;
  font-weight: 700;

  background: #fff;

  width: 30px;
  height: 30px;
  border-radius: 50%;

  display: flex;
  align-items: center;
  justify-content: center;

  margin: 20px 20px 0 0;
  cursor: pointer;
  z-index: 312312323;
}

.popup {
  position: fixed;
  z-index: 100;
  width: 100%;
  overflow: hidden;
  padding-top: 56.25%;

  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);

  max-width: 800px;
  max-height: 450px;

  iframe {
    position: absolute;
    top: 50%;
    left: 50%;
    bottom: 0;
    right: 0;
    width: 100%;
    height: 100%;
    border: none;

    transform: translate(-50%, -50%);

    max-width: 800px;
    max-height: 450px;
  }
}

.layout {
  position: fixed;
  background: #000000;
  opacity: 0.8;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  z-index: 99;
}
