@mixin mini-mobile {
  @media only screen and (max-width: 360px) {
    @content;
  }
}

@mixin mobile {
  @media only screen and (min-width: 361px) and (max-width: 480px) {
    @content;
  }
}

@mixin Tablets {
  @media only screen and (min-width: 481px) and (max-width: 768px) {
    @content;
  }
}

@mixin Laptops {
  @media only screen and (min-width: 769px) and (max-width: 1024px) {
    @content;
  }
}

@mixin Desktop {
  @media only screen and (min-width: 1025px) and (max-width: 1200px) {
    @content;
  }
}

@mixin XL-Desktop {
  @media only screen and (min-width: 1201px) {
    @content;
  }
}

@mixin XXL-Desktop {
  @media only screen and (min-width: 1920px) {
    @content;
  }
}
