.headerContainer {
  display: none;

  .theHeader {
    padding-top: 5px;

    display: flex;
    align-items: center;
    justify-content: center;
    background-image: linear-gradient(to right bottom, #e4bd8c, #e9c99f, #efd6b2, #f4e2c6, #faeeda);

    div {
      margin-right: 15px;
      a {
        img {
          width: 100%;
        }
      }

      &:last-child {
        margin-right: 0;
      }
    }
  }
}

@media only screen and (max-width: 1200px) {
  .headerContainer {
    display: block;
    z-index: 1;
    width: 100%;
    animation: animation 0.5s linear;
  }
}

@keyframes animation {
  0% {
    opacity: 0;
    transform: translateY(40px);
  }

  100% {
    opacity: 1;
    transform: translateY(0px);
  }
}
