@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@100;400&family=Open+Sans:wght@300&family=Roboto:ital,wght@1,500&display=swap');

*, *:before, *:after {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

html {
  font-family: 'Montserrat', sans-serif;
}

body {
  margin: 0!important;
}

body iframe {
  /*display: none;*/
  border: none;
}

.overlay {
  overflow-y: hidden;
  height: 100vh;
}


a {
  margin: 0!important;
  text-decoration: none!important;
}

.slick-slider {
  width: 100%;
}

.slick-slider .slick-list .slick-track {
  display: flex;
}

.slick-slider .slick-list .slick-track .slick-slide {
  outline: none!important;
  width: 100%;
}

.slick-slide img {
  width: 100%;
  max-height: 1331px;
}

